.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  background-color: black;
}
.header {
  height: 7vh;
  width: 100%;
  background-color: grey;
}
.body {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 89vh;
  overflow: hidden auto;
  background-color: aquamarine;
}
.footer {
  height: 5vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: black;
  left: 0;
}

#gameBox {
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}

tr {
  /* display: flex; */
  margin: 0;
}

td {
  width: 74.4px;
  height: 12.5%;
  top: 0px;
  left: 0px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

td div {
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #gameBox {
    display: flex;
    margin-top: 1vw;
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 768px) {
  #gameBox {
    display: flex;
    margin-top: 1vw;
    width: 600px;
    height: 600px;
  }
}
@media only screen and (max-width: 550px) {
  #gameBox {
    display: flex;
    margin-top: 1vw;
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-height: 550px) {
  #gameBox {
    display: flex;
    margin-top: 1vw;
    width: 400px;
    height: 400px;
  }
}
